/* Color Theme Swatches in Hex */
$Fashion-1-hex: #73020c;
$Fashion-2-hex: #f2274c;
$Fashion-3-hex: #f2f2f2;
$Fashion-4-hex: #d9d3c7;
$Fashion-5-hex: #d92525;

/* Color Theme Swatches in RGBA */
$Fashion-1-rgba: rgba(114, 2, 11, 1);
$Fashion-2-rgba: rgba(242, 38, 76, 1);
$Fashion-3-rgba: rgba(242, 242, 242, 1);
$Fashion-4-rgba: rgba(216, 210, 199, 1);
$Fashion-5-rgba: rgba(216, 36, 36, 1);

/* Color Theme Swatches in HSLA */
$Fashion-1-hsla: hsla(354, 96, 22, 1);
$Fashion-2-hsla: hsla(348, 88, 55, 1);
$Fashion-3-hsla: hsla(0, 0, 95, 1);
$Fashion-4-hsla: hsla(39, 18, 81, 1);
$Fashion-5-hsla: hsla(0, 70, 49, 1);
